@media (max-width: 600px) {
.tabs {
    width: 100%;
  }
  .tabs .tabs-items {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .tabs .tabs-item {
    display: none;
    width: 75%;
  }
  .tabs .tabs-item .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .tabs .tabs-item-selected {
    display: block;
  }
  .tabs .tabs-links {
    display: flex;
    background-color: grey;
  }
  .tabs .tabs-link {
      
    padding: 20px 25px;
    font-size: 24px;
    background-image:  linear-gradient(blue, whitesmoke);
    border-right: 1px solid grey;
    color: whitesmoke;
    cursor: pointer;
  }
  .tabs .tabs-link:hover {
    background-color: blue;
  }
  .tabs .tabs-link-selected {
    
    border-right: 1px solid grey;
    background-color: whitesmoke;
    color: black;
  }
  .tabs .tabs-link-selected:hover {
    background-color: whitesmoke;
  }
}

@media (max-width: 2000px) {
.tabs {
    width: 100%;
  }
  .tabs .tabs-items {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .tabs .tabs-item {
    display: none;
    width: 75%;
  }
  .tabs .tabs-item .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .tabs .tabs-item-selected {
    display: block;
  }
  .tabs .tabs-links {
    display: flex;
    background-image:  linear-gradient(blue, whitesmoke);
  }
  .tabs .tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-image:  linear-gradient(blue, whitesmoke);
    border-right: 1px solid whitesmoke;
    color: #ffffff;
    cursor: pointer;
  }
  .tabs .tabs-link:hover {
      background-image:  linear-gradient(blue, whitesmoke);
  }
  .tabs .tabs-link-selected {
    z-index: 2;
    background-image:  linear-gradient(blue, whitesmoke);
    background-color: whitesmoke;
    color: black;
  }
  .tabs .tabs-link-selected:hover {
    background-color: whitesmoke;
  }

}