
    
   
          body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto';
            background: linear-gradient(dodgerblue,blue);
          }

          
        .header {
            width: 100%;
            height: 75px;
            background: darkblue;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            z-index: 2;
          } 
          .header h1 {
            margin: 0;
            font-size: 48px;
          }
         
          .menu-button {
            position: absolute;
            left: 20px;
            cursor: pointer;
            border: none;
            box-shadow: 0 0 0 0 rgba(0,0,255,0.3);
            border-radius: 50%;
 
          background-size:cover;
          background-repeat: no-repeat;
          cursor: pointer;
         -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
         -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
         -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        }
      .menu-button:hover {
         -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
        }

         @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(0,0,255,0.3);}}
         @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(0,0,255,0.3);}}
         @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(0,0,255,0.3);}}
        @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(0,0,255,0.3);}}
          
          .menu {
            display: none;
            position: fixed;
            top: 75px;
            left: 0;
            width: 250px;
            height: 100vh;
           
            background: linear-gradient( dodgerblue,blue);
            border: 1px solid #004D40;
            border-left: none;
            border-bottom: none;
            z-index: 2;
           
          }
          .menu ul li {
            list-style-type: none;
            font-size: 32px;
            padding: 30px 0;
            text-align: center;
          }
          .menu--open {
            display: block;
          }
         





          
          .m { margin-bottom: 20px; }
          .bg { padding: 10px; background-color: #F0F0F0; }
        


          .ui-mobilecarousel { overflow: hidden; visibility: visible; }
          .ui-mobilecarousel .ui-mobilecarousel-container { width: 90%; overflow-x: scroll; overflow-y: hidden; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
          .ui-mobilecarousel .ui-mobilecarousel-body { padding-bottom: 30px; }
          .ui-mobilecarousel .row { margin: 0; }












            .categories {
            margin-top: 95px;
          }
          .category {
            margin: 33px 10%;
            padding: 0 20px 25px;
            border: 1px solid lightgrey;
            border-radius: 8px;
            background: linear-gradient(grey, lightgrey);
            position: relative;
            height: 50px;
            
            box-shadow: 3px 3px 3px whitesmoke;
          }
          .category h2 {
           
           display: flex;
           justify-content: center;
            font-size: 28px;
            padding: 0rem;
            margin: 15px 0 0;
          }
         
          .category .close {
            position: absolute;
            top: 10px;
            right: 10px;
          }
          .category .expandButton {
            position: absolute;
            bottom: 0;
            left: 50%;
            font-size: 12px;
            color: grey;
            cursor: pointer;
            transform: translate(-50%);
          
          }
          .category-open {
            height: 400px;
          }
         
          .footer-content {
          width: 100%;
            height: 75px;
            background-color: darkblue;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
          
          }
     